@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);


:root
{
  /* CSS HEX */
--color01: #073b3aff;
--color02: #0b6e4fff;
--color03: #08a045ff;
--color04: #6bbf59ff;
--color05: #f2fbe0ff;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rubik;
}
*::-webkit-scrollbar
{
  width: 0;
}

